
@{
    ViewBag.Title = "Finalizar Compra";
}

<div class="alert alert-success mt-5" role="alert">
    <h4 class="alert-heading">Gracias por su compra!</h4>
    <p>Sera un gusto atenderle!!</p>
    <hr>
    <p class="mb-0">Que tenga un buen dia!!!</p>
</div>
@Html.ActionLink("Gracias ", "Index", "Home")
