@{
    ViewBag.Title = "Inicio";
    var listo = Session["Mesa"];
}
<section id="intro" class="mt-lg-5 mt-sm-2">
    <div class="container">
        @{
            if (listo != null)
            {
                <div class="text-center mt-3">
                    <p>Bienvenido(a) usted esta en la mesa # @ViewData["n-mesa"]</p>
                </div>
            }
        }
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-sm-2">
                <h2 class="mt-5">
                    Cafeteria el Divino nino
                </h2>
                <p class="mt-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minus debitis odit delectus hic praesentium! Esse quasi officiis aspernatur nulla nam labore inventore voluptatum et? Aspernatur voluptatum ex animi voluptatem?
                </p>
                <div class="row">
                    @{
                        if (listo != null)
                        {
                            <div class="col-sm-12 col-md-6 mb-2 mb-lg-0">
                                <a href="menuproductos/index" class="btn w-100 btn-outline-secondary btn-lg-text-center">Menu</a>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <a href="/Carrito/AgregarCarrito" class="btn w-100 btn-outline-secondary btn-lg-text-center">Ver pedido</a>
                            </div>
                        }
                    }
                </div>

            </div>
            <div class="col-sm-12 col-md-6 mt-2 mt-lg-0">
                <img class="img-thumbnail img-fluid mt-sm-2" src="~/Publica/img/blog1.jpg" alt="complemeto">
            </div>
        </div>
    </div>
</section>