
@{
    ViewBag.Title = "Index";
}

<section id="intro" class="mt-lg-5 mt-sm-2">
    <h2 class="text-center">Bienvenido Admin al sistema</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 my-2">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2 mb-lg-0">
                        @*asi se lamma a la pantalla personal es igual para lproductos*@ 
                        <a href="/AdminMenuProductos/Index" class="btn w-100 btn-outline-secondary btn-lg-text-center">Productos</a>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <a href="/personals" class="btn w-100 btn-outline-secondary btn-lg-text-center">Personal</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-12 col-md-12 mb-sm-2 mb-4">
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2 mb-lg-0">
                        <a href="/OrdenPedidos" class="btn w-100 btn-outline-secondary btn-lg-text-center">Pedidos</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


